<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
<!-- 
<div class="main-content">
<div class="loginbox-v4 modal-content-wrapper ud-app-loader ud-component--social-auth--app" data-module-id="social-auth" data-module-args="{&quot;mode&quot;:&quot;LOGIN&quot;}" data-purpose="login-box">
<div class="ud-component--social-auth--auth-seen-by-user-tracker"></div>
<div class="loginbox-v4__header">
Log In to Your Account!
</div>
<div class="loginbox-v4__content">
<span class="ud-app-loader ud-component--auth--app" data-module-id="auth" data-module-args="{&quot;googleRedirectUrl&quot;:&quot;/join/social-complete/google-plus/?locale=en_US&amp;next=https%3A%2F%2Fwww.udemy.com%2F&amp;response_type=html&quot;,&quot;actionType&quot;:&quot;login&quot;,&quot;facebookRedirectUrl&quot;:&quot;/join/social-begin/facebook/?from=login&amp;locale=en_US&amp;next=https%3A%2F%2Fwww.udemy.com%2F&amp;response_type=html&quot;,&quot;appleRedirectUri&quot;:&quot;https://www.udemy.com/join/social-complete/apple/login/&quot;,&quot;appleClientId&quot;:&quot;com.udemy.web&quot;,&quot;appleState&quot;:&quot;xziqpiebzjggqgwi&quot;,&quot;googleClientId&quot;:&quot;700206021005-bfren0qj1or8pp5spnn521hos9lm9ll9.apps.googleusercontent.com&quot;,&quot;allowedSocialButtons&quot;:[&quot;facebook&quot;,&quot;google-plus&quot;,&quot;apple&quot;]}" data-module-priority="-20">
</span>
<form action="https://www.udemy.com/join/login-popup/?locale=en_US&amp;next=https%3A%2F%2Fwww.udemy.com%2F&amp;response_type=html" action-type="login" class="signin-form dj" id="login-form" name="login-form" method="post"> <input type="hidden" name="csrfmiddlewaretoken" value="PXIGpugqJc2I4JyZ2oLPdhsgnnMuZMkat4Zca6HgUFnCJ1KvGhx1GQCPY1BnuCfc"> <div class="manage-fields-wrapper"> <input type="hidden" name="locale" value="en_US" /> <div class="form-field-container  labeled ud-component--social-auth--django-email-field" id="form-item-email"> <label class="control-label " for="id_email">Email</label> <div id="tooltip-reference-email" class="tooltip-reference pos-r "> <input type="email" name="email" maxlength="64" class="emailinput form-control" placeholder="Email" required minlength="7" id="id_email" data-purpose="email"> </div>
</div> <div class="form-field-container  labeled " id="form-item-password"> <label class="control-label " for="id_password">Password</label> <div id="tooltip-reference-password" class="tooltip-reference pos-r "> <input type="password" name="password" maxlength="64" class="textinput textInput form-control" placeholder="Password" required minlength="6" id="id_password" data-purpose="password"> </div>
</div>
</div>
<div class="form-actions"> <div class="submit-row"> <input type="submit" name="submit" value="Log In" class="btn btn-primary " id="submit-id-submit" data-purpose="do-login" />
<span>or </span><a href="/user/forgot-password/?locale=en_US&next=https%3A%2F%2Fwww.udemy.com%2F&response_type=html" class="forgot-password-link">Forgot Password</a>
</div>
</div> </form>
</div>
<div class="loginbox-v4__footer">
Don't have an account?
<a class="sign-link" href="/join/signup-popup/?locale=en_US&amp;next=https%3A%2F%2Fwww.udemy.com%2F&amp;response_type=html" data-purpose="sign-up">
Sign up
</a>
</div>
</div>
<div class="loginbox-v4-go-back__wrapper">
</div>
</div> -->
<h1> HOME PAGEEEEEE</h1>
</body>
</html>